@CHARSET "UTF-8";

body {
	position: relative;
	font-family: arial;
	color: #fff;
	text-align: center;
	background-size: 100% 100%;
	background-image: url(../images/login/backgrounds/D50.jpg);
}

#admin {
	margin: 120px auto 0 auto;
}

h1 {
	font-size: 30px;
	font-weight: 700;
	text-shadow: 3px 3px 5px rgba(255, 255, 255, .7);
}

form {
	position: relative;
	width: 405px;
	margin: 15px auto 0 auto;
	text-align: center;
	color: #f00;
}

input, select {
	width: 270px;
	height: 42px;
	margin-top: 25px;
	padding: 0 15px;
	background: #2d2d2d;
	background: rgba(45, 45, 45, .15);
	border-radius: 6px;
	border: 1px solid #3d3d3d;
	border: 1px solid rgba(255, 255, 255, .15);
	box-shadow: 0 3px 3px 0 rgba(255, 255, 255, .3) inset;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #fff;
	text-shadow: 0 2px 2px rgba(255, 255, 255, .3);
	transition: all .5s;
}

input:focus {
	outline: none;
	box-shadow: 0 3px 3px 0 rgba(255, 255, 255, .3) inset, 0 3px 7px 0
		rgba(255, 255, 255, .3);
}

select:focus {
	outline: none;
	box-shadow: 0 3px 3px 0 rgba(255, 255, 255, .3) inset, 0 3px 7px 0
		rgba(255, 255, 255, .3);
}

button {
	position: relative;
	margin: 15px auto 0 auto;
	text-align: center;
	cursor: pointer;
	width: 270px;
	height: 44px;
	margin-top: 25px;
	padding: 0 15px;
	background: #ef4300;
	border-radius: 6px;
	border: 1px solid #ff730e;
	box-shadow: 0 15px 30px 0 rgba(255, 255, 255, .3) inset, 0 2px 7px 0
		rgba(0, 0, 0, .2);
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	text-shadow: 0 3px 3px rgba(255, 255, 255, .3);
	transition: all .2s;
	text-align: center;
}

button:hover {
	box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .3) inset, 0 2px 7px 0
		rgba(255, 255, 255, .2);
}

button:active {
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, .1) inset, 0 1px 4px 0
		rgba(0, 0, 0, .1);
	border: 0px solid #ef4300;
}

.code {
	width: 92px;
	height: 40px;
	display: inline-block;
	color: #ff0000;
	font-size: 14px;
	font-family: Tahoma, Geneva, sans-serif;
	font-style: italic;
	font-weight: bold;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	border: 1px solid #e2b4a2;
	background: #e2b4a2;
	border-radius: 10px;
}

.error {
	display: none;
	position: absolute;
	top: 26px;
	right: 9px;
	width: 40px;
	height: 40px;
	background: #ddd;
	background: rgba(192, 192, 192, .25);
	border-radius: 8px;
}

.error span {
	color: gold;
	display: inline-block;
	margin: 0 auto;
	font-size: 40px;
	font-weight: 700;
	line-height: 40px;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	transform: rotate(45deg);
}

.userfont1 {
	/* display: none; */
	position: absolute;
	font-size: 15px;
	font-weight: 500;
	top: 37px;
	right: -265px;
}

.connect {
	width: 305px;
	margin: 35px auto 0 auto;
	font-size: 18px;
	font-weight: 700;
	text-shadow: 0 2px 3px rgba(255, 255, 255, .5);
}

.connect a {
	display: inline-block;
	width: 32px;
	height: 35px;
	margin-top: 15px;
	transition: all .2s;
}

.connect a.facebook {
	background: url(../images/login/facebook.png) center center no-repeat;
}

.connect a.twitter {
	background: url(../images/login/twitter.png) center center no-repeat;
}

.connect a:hover {
	background-position: center bottom;
}