<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>game</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<description></description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>login_register.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AjaxRegisterServlet</display-name>
		<servlet-name>AjaxRegisterServlet</servlet-name>
		<servlet-class>login_register.AjaxRegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AjaxRegisterServlet</servlet-name>
		<url-pattern>/AjaxRegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AjaxUserPhoneServlet</display-name>
		<servlet-name>AjaxUserPhoneServlet</servlet-name>
		<servlet-class>login_register.AjaxUserPhoneServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AjaxUserPhoneServlet</servlet-name>
		<url-pattern>/AjaxUserPhoneServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UserRegisterServlet</display-name>
		<servlet-name>UserRegisterServlet</servlet-name>
		<servlet-class>login_register.UserRegisterServlet</servlet-class>
		<init-param>
			<description>SMTP Host</description>
			<param-name>smtphost</param-name>
			<param-value>smtp.163.com</param-value>
		</init-param>
		<init-param>
			<description>Mail Port</description>
			<param-name>port</param-name>
			<param-value>25</param-value>
		</init-param>
		<init-param>
			<description>Mail Host Username</description>
			<param-name>mailusername</param-name>
			<param-value>conglinyu1.0@163.com</param-value>
		</init-param>
		<init-param>
			<description>Mail Host Password</description>
			<param-name>mailpassword</param-name>
			<param-value>3137341644amd588</param-value>
		</init-param>
		<init-param>
			<description>Mail From</description>
			<param-name>mailfrom</param-name>
			<param-value>conglinyu1.0@163.com</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserRegisterServlet</servlet-name>
		<url-pattern>/UserRegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ActivationServlet</display-name>
		<servlet-name>ActivationServlet</servlet-name>
		<servlet-class>login_register.ActivationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActivationServlet</servlet-name>
		<url-pattern>/ActivationServlet</url-pattern>
	</servlet-mapping>
	<filter>
		<display-name>LoginFilter</display-name>
		<filter-name>LoginFilter</filter-name>
		<filter-class>cn.zhku.filter.LoginFilter</filter-class>
		<init-param>
			<param-name>filterPattern</param-name>
			<param-value>.*Servlet|.*\.jsp</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/gameweb/*</url-pattern>
	</filter-mapping>
	<servlet>
		<description></description>
		<display-name>SearchGoodServlet</display-name>
		<servlet-name>SearchGoodServlet</servlet-name>
		<servlet-class>gameweb.backend.business.SearchGoodServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchGoodServlet</servlet-name>
		<url-pattern>/gameweb/SearchGoodServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AddGoodServlet</display-name>
		<servlet-name>AddGoodServlet</servlet-name>
		<servlet-class>gameweb.backend.business.AddGoodServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddGoodServlet</servlet-name>
		<url-pattern>/gameweb/AddGoodServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DeleteGoodServlet</display-name>
		<servlet-name>DeleteGoodServlet</servlet-name>
		<servlet-class>gameweb.backend.business.DeleteGoodServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteGoodServlet</servlet-name>
		<url-pattern>/gameweb/DeleteGoodServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>OpenUpdateGoodServlet</display-name>
		<servlet-name>OpenUpdateGoodServlet</servlet-name>
		<servlet-class>gameweb.backend.business.OpenUpdateGoodServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OpenUpdateGoodServlet</servlet-name>
		<url-pattern>/gameweb/OpenUpdateGoodServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UpdateGoodServlet</display-name>
		<servlet-name>UpdateGoodServlet</servlet-name>
		<servlet-class>gameweb.backend.business.UpdateGoodServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateGoodServlet</servlet-name>
		<url-pattern>/gameweb/UpdateGoodServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SearchUserServlet</display-name>
		<servlet-name>SearchUserServlet</servlet-name>
		<servlet-class>gameweb.backend.admin.SearchUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchUserServlet</servlet-name>
		<url-pattern>/gameweb/SearchUserServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AddUserServlet</display-name>
		<servlet-name>AddUserServlet</servlet-name>
		<servlet-class>gameweb.backend.admin.AddUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddUserServlet</servlet-name>
		<url-pattern>/gameweb/AddUserServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DeleteUserServlet</display-name>
		<servlet-name>DeleteUserServlet</servlet-name>
		<servlet-class>gameweb.backend.admin.DeleteUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteUserServlet</servlet-name>
		<url-pattern>/gameweb/DeleteUserServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UpdateUserServlet</display-name>
		<servlet-name>UpdateUserServlet</servlet-name>
		<servlet-class>gameweb.backend.admin.UpdateUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateUserServlet</servlet-name>
		<url-pattern>/gameweb/UpdateUserServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>OpenUpdateUserServlet</display-name>
		<servlet-name>OpenUpdateUserServlet</servlet-name>
		<servlet-class>gameweb.backend.admin.OpenUpdateUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OpenUpdateUserServlet</servlet-name>
		<url-pattern>/gameweb/OpenUpdateUserServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MainGoodServlet</display-name>
		<servlet-name>MainGoodServlet</servlet-name>
		<servlet-class>gameweb.main.MainGoodServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MainGoodServlet</servlet-name>
		<url-pattern>/gameweb/MainGoodServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LogoutServlet</display-name>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>login_register.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/gameweb/LogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AddOrderServlet</display-name>
		<servlet-name>AddOrderServlet</servlet-name>
		<servlet-class>gameweb.main.AddOrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddOrderServlet</servlet-name>
		<url-pattern>/gameweb/AddOrderServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SearchOrderServlet</display-name>
		<servlet-name>SearchOrderServlet</servlet-name>
		<servlet-class>gameweb.backend.admin.SearchOrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchOrderServlet</servlet-name>
		<url-pattern>/gameweb/SearchOrderServlet</url-pattern>
	</servlet-mapping>
</web-app>